@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --m-red: #e23a60;
  --m-orange: #f37f66;
  --l-orange: #ebb2a5;
  --m-purple: #8761f4;
  --l-purple: #b6a3ec;
  --b-grey: #dadada;
  --l-text: #eeeeee;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
  text-decoration: none;
}

.item-card .img4 {
  width: 71%;
  height: 71%;
}
.item-card .img6 {
  width: 70%;
  height: 70%;
}

.active {
  font-weight: 600;
}

body {
  background: #f9f9f9;
  font-family: "Poppins", sans-serif;
  width: 100%;
  height: 100%;
}

a {
  color: black !important;
}

/* navbar styles*/
.nav {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1vw 5vw;
}
.nav a {
  color: var(--m-red) !important;
}
.logot {
  font-weight: 700;
  color: var(--m-red) !important;
  /* -webkit-text-stroke: 4px #000; */
}

.nav .icons a {
  margin: 1vw;
}

/* Container styles */
.marquee-container {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  box-sizing: border-box;
  background-color: var(--l-orange);
}

/* Text styles */
.marquee-content {
  display: inline-block;
  /* padding-left: 100%; Start offscreen */
  animation: marquee 20s linear infinite; /* Adjust speed as needed */
}
.marquee-content span {
  font-size: 1.5vw;
  margin-right: 2vw;
}

/* Animation */
@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

/* carousel*/

.carousel {
  margin: 2vw 5vw;
}

.carousel-item img {
  width: 85%;
  /* border-radius: 1vw; */
  align-items: center;
  justify-content: center;
}

/* Container styles */
.scrolling-text-container {
  background-color: var(--l-orange);
  border-radius: 4px;
  overflow: hidden;
}

/* Inner container styles */
.scrolling-text-inner {
  display: flex;
  white-space: nowrap;
  font-size: 16px;
  font-weight: 600;
  padding: 8px 0;
}

/* Text styles */
.scrolling-text {
  display: flex;
}

.scrolling-text-item {
  padding: 0 30px;
}

/* Apply the animation to the text items */
.scrolling-text-inner > div {
  animation: var(--direction) var(--marquee-speed) linear infinite;
}

/* Pause the animation when a user hovers over it */
.scrolling-text-container:hover .scrolling-text-inner > div {
  animation-play-state: paused;
}

/* Setting the Animation using Keyframes */
@keyframes scroll-left {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-100%);
  }
}

@keyframes scroll-right {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0%);
  }
}

/* product syles */
.products {
  width: 100%;
  height: 100%;
  display: flex;
  margin: 2vw 0;
  padding: 0px 3vw;
  justify-content: space-evenly;
}
.productshead {
  margin-top: 5vw;
  text-align: center;
}
.image-container1 {
  width: 15vw;
  height: 15vw;
  /* overflow: hidden; */
  /* margin: 0 1vw; */
  background-color: #916a5e;
  border-radius: 1vw;
}
.image-container2 {
  width: 15vw;
  height: 15vw;
  /* overflow: hidden; */
  /* margin: 0 1vw; */
  background-color: #126782;
  border-radius: 1vw;
}
.image-container3 {
  width: 15vw;
  height: 15vw;
  /* overflow: hidden; */
  /* margin: 0 1vw; */
  background-color: #8c2042;
  border-radius: 1vw;
}
.image-container4 {
  width: 15vw;
  height: 15vw;
  /* overflow: hidden; */
  /* margin: 0 1vw; */
  background-color: #6b705d;
  border-radius: 1vw;
}
.image-container5 {
  width: 15vw;
  height: 15vw;
  /* overflow: hidden; */
  /* margin: 0 1vw; */
  background-color: #726071;
  border-radius: 1vw;
}

.image {
  width: 100%;
  height: 100%;
  transition: transform 0.3s ease-in-out; /* Smooth transition effect */
}

.image-container1:hover .image {
  transform: scale(1.2);
}
.image-container2:hover .image {
  transform: scale(1.2);
}
.image-container3:hover .image {
  transform: scale(1.2);
}
.image-container4:hover .image {
  transform: scale(1.2);
}
.image-container5:hover .image {
  transform: scale(1.2);
}

.bestsell {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header h1 {
  font-weight: 700;
  margin: 2vw 0;
}

/* Optional styles for customization */
.item-card {
  margin-bottom: 2vw;
}
.item-card .img1 {
  width: 110%;
  height: 110%;
}
.item-card .img2 {
  align-self: center;
  width: 75%;
  height: 75%;
}
.item-card .img3 {
  width: 98%;
  height: 98%;
}
.btnCust {
  border: none;
  background-color: var(--l-orange);
}
.btnCust:hover {
  background-color: var(--m-orange) !important;
}
/* Optional styles for customization */
.footer {
  width: 100%;
  height: 100%;
  margin-top: 2vw;
  background-color: var(--l-orange);
  padding: 20px 0;
  text-align: left !important;
}
.footer .info {
  margin-bottom: 5vw;
}
.footer .row {
  margin-top: 1vw;
}

@media screen and (max-width: 480px) {
  .icons {
    display: none;
  }

  .img1 {
    height: 100% !important;
    width: 100% !important;
  }
  .img2 {
    height: 100% !important;
    width: 100% !important;
  }
  .img3 {
    height: 100% !important;
    width: 100% !important;
  }

  .productshead {
    text-align: left;
  }

  .carousel .carousel-item {
    height: 100% !important;
  }
}

.brand-logo {
  height: 50px;
}

.flex {
  display: flex;
}

.gp-fl-2 {
  margin-left: 20px;
}

footer {
  background-color: #ebb2a5 !important;
}

.text-or {
  color: var(--m-orange);
}

.carousel .carousel-item {
  height: 400px;
}

.item img {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 300px;
}
